body{
    background: rgb(0, 6, 52);
}
.table1 {
    background: rgb(0, 10, 100);
    box-shadow: 0 0 30px rgba(0,0,0,0.5); 
    border-radius: 50px;
    margin-bottom: 10px;
    width: 750px;
}
.table2 {
    background: rgb(0, 10, 100);
    box-shadow: 0 0 30px rgba(0,0,0,0.5); 
    border-radius: 50px;
    margin-bottom: 10px;
    width: 750px;
}
.table3 {
    background: rgb(0, 10, 100);
    box-shadow: 0 0 30px rgba(0,0,0,0.5); 
    border-radius: 50px;
    margin-bottom: 10px;
    width: 750px;
}
.table4 {
    background: rgb(0, 10, 100);
    box-shadow: 0 0 30px rgba(0,0,0,0.5); 
    border-radius: 50px;
    margin-bottom: 10px;
    width: 750px;
}
img {
    border-radius: 50px;
}
h3{
    margin-left: 50px;
}
img{
    margin-left: 10px;
}
button {
    margin-left: 10px;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    border: 0px;
    background: black;
    color: white;
    margin-bottom: 10px;
}
p{  
    margin-top: 30px;
    margin-left: 10px;
    color: black;
}
.tovary{
    color: rgb(168, 195, 247);
    font-size: 30px;
}
div{
    margin-left: 50px;
}
.menuA {
    margin-left: 10px;
    color: #FFF;
}
.menu {
    box-shadow: 0 0 30px rgba(0,0,0,0.5); 
    border-radius: 10px;
    background-color: rgb(12, 2, 104);
    margin-bottom: 10px;
    width: 250px;
}
.filter{
    border-radius: 20px;
    background: rgb(0, 10, 100);
    box-shadow: 0 0 30px rgba(0,0,0,0.5); 
    width: 400px;
    height: 300px;
}
.filter div{
    font-size: 22px;
    margin-left: 100px;
    margin-top: 20px;
}
.zakupki{
    background-color: #fb8cf7;
    border-radius: 20px;
}
.td{
    border-bottom: 4px dashed rgb(0, 0, 0);
}
.cont{

}
a{
    color:white
}
h1 {
    color: #b9c2ff;
}
.f{
    margin-right: 100px;
}