body{
    background: rgb(0, 2, 47);
}
.table{
    background: rgb(0, 3, 105);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 50px;
    margin-bottom: 10px;
    width: 750px;
}
img {
    border-radius: 50px;
}
h3{
    margin-left: 50px;
}
img{
    margin-left: 10px;
}
button {
    margin-left: 10px;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    border: 0px;
    background: black;
    color: white;
    margin-bottom: 10px;
}
p{  
    margin-top: 30px;
    margin-left: 10px;
    color: black;
}
.tovary{
    color: black;
    font-size: 30px;
}
div{
    margin-left: 50px;
}
.menuA {
    margin-left: 10px;
    color: #FFF;
}
.menu {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5); 
    background-color: rgb(12, 2, 104);
    box-shadow: 0 0 10px rgba(0,0,0,0.5); 
    margin-bottom: 10px;
    width: 250px;
}
.filter{
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5); 
    background: rgb(0, 3, 105);
    width: 400px;
    height: 300px;
}
.filter div{
    font-size: 22px;
    margin-right: 100px;
    margin-top: 20px;
}
.zakupki{
    background-color: #fb8cf7;
    border-radius: 20px;
}
.td{
    border-bottom: 4px dashed rgb(0, 0, 0);
}
.cont{

}
.tovary{
    color: rgb(188, 209, 255);
}
a{
    color: rgb(188, 209, 255);

}
h1{
    color: rgb(188, 209, 255);
}
